<div class="artwork-frame">
{{artwork}}
</div>
<article class="page" itemscope="" itemtype="https://schema.org/CreativeWork">
  <meta itemprop="headline" content="{{page_title}}">
  <meta itemprop="description" content="">
  <div>
    <header>
      <h1 id="page-title" itemprop="headline">{{page_title}}</h1>
    </header>
    <section itemprop="text">
      {{page_content}}
    </section>
    <nav>
      {{#prev_page_href}}
      <a href="{{prev_page_href}}" title="{{prev_page_title}}">Previous</a>
      {{/prev_page_href}}
      {{#next_page_href}}
      <a href="{{next_page_href}}" title="{{prev_page_title}}">Next</a>
      {{/next_page_href}}
    </nav>
  </div>


</article>



</div>

